<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hatchery Data</title>

        <link rel="stylesheet" type="text/css" href="style.css">

    </head>
    <body class="container">     
        <h1 class="heading"><u><strong>Hatchery Data</strong></u></h1><br>   
        <form>
        <div class="main-container"> 
                       
                <div>                 
                    <label class="labels">Hatchery_Id:</label>
                    <input type="number" class="number" id="hat_id" name="hat_id" placeholder="Hatchery_Id"/>
                    
                    
                </div>
                <div>
                    <label class="labels">Hatchery_Name:</label>
                    <input type="text" class="text" id="hat_name" name="hat_name" placeholder="Hatchery_name"/>
                </div>  
                <div>
                    <label class="labels">Hatchery_Type:</label>
                    <input type="text" class="text" id="hat_type" name="hat_type" placeholder="Hatchery_Type"/>
                    
                </div>    
                <div>
                    <label class="labels">Hatchery_Category:</label>
                    <input type="number" class="number" id="hat_id" name="hat_id" placeholder="Hatchery_Category"/>
                </div>          
                <div>
                    
                    <label class="labels">Ownership:</label>
                    <input type="text" class="text" id="hat_name" name="hat_name" placeholder="Ownership"/>
                    
                </div>
                <div>
                    <label class="labels">Owner_Name:</label>
                    <input type="text" class="text" id="hat_type" name="hat_type" placeholder="Owner_Name"/>
                </div>
                <div>
                    <label class="labels">Hatchery_Address:</label>
                    <input type="number" class="number" id="hat_id" name="hat_id" placeholder="Hatchery_Address"/>
                                        
                </div>
                <div>
                    <label class="labels">Species_Breeding:</label>
                    <input type="text" class="text" id="hat_name" name="hat_name" placeholder="Species_Breeding"/>
                </div>
                <div>
                    <label class="labels">City:</label>
                    <input type="text" class="text" id="city" name="hat_type" placeholder="City"/>
                </div> <br><br><br>
                <div>
                    <input type="submit" class="submit" id="submit-bt" name="submit-bt" value="Add Data"/> 
                </div>             
                
            </div>
            <br>
                  
        </form>
        
        

    </body>
</html>